/** @format */

@mixin flex($display, $direction, $justify) {
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
}

@mixin medidas ($ancho, $alto){
	width: $ancho;
	height: $alto;
}