/** @format */

$color-background-gradient: linear-gradient(to right, #ef9c56, #cfcdc7); 

$color-background-minibox: #F0DFCC;

$color-background-footer: #ced8d8;

$color-background-form: #cb9466;

$color-background-card: #FFEFD5;

$color-background-mainbox: #ff7f50;