/** @format */

body {
	background-image: $color-background-gradient;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Poppins", serif;
}
@media (min-width: 350px) and (max-width: 728px) {
	body {
		overflow-x: none;
		@include flex(flex, column, center);
	}
}

