/** @format */

.main-contact {
	@include flex(flex, row, space-around);
	align-items: center;
	flex-wrap: wrap;

	.box-main-contact {
		@include flex(flex, column, center);
		@include medidas(400px, 700px);
		text-align: justify;

		h1 {
			font-size: 60px;
			font-weight: bold;
		}
		h2 {
			font-size: 17px;
		}
		img {
			@include medidas(300px, 300px);
		}
	}

	.form-message {
		text-align: justify;
		padding: 20px;
		background-color: $color-background-form;
		margin-top: 20px;
		margin-bottom: 30px;
		border-radius: 4px;
		color: black;
		box-shadow: 7px 13px 37px #000;
	}
}

@media (min-width: 320px) and (max-width: 350px){
	.main-contact{
		.box-main-contact{
			@include flex(flex, column, center);
			@include medidas(300px, 400px);
			text-align: center;
			align-items: center;
			h1 {
				font-size: map-get($map: $font-sizes, $key: l);
			}
			h2 {
				font-size: 11px;
			}

		}

		.form-message {
			width: 300px;
			margin-top: 20px;
		}
	}
}

@media (min-width: 350px) and (max-width: 728px) {
	.main-contact {
		.box-main-contact {
			@include flex(flex, column, center);
			@include medidas(350px, 500px);
			text-align: center;
			align-items: center;
			h1 {
				font-size: map-get($map: $font-sizes, $key: l);
			}
			h2 {
				font-size: 14px;
			}
		}

		.form-message {
			width: 350px;
		}
	}
}

@media (min-width: 729px) and (max-width: 1024px) {
	.main-contact {
		.box-main-contact {
			text-align: center;
			img {
				@include medidas(400px, 500px);
			}
		}
	}
}
