header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.icon {
	font-weight: 600;
}

.icon img {
	height: 50px;
	margin-right: 10px;
}

.navbar-nav {
	font-size: 1.1rem;
}

.nav-link {
	margin-left: 20px;
}

nav a:hover {
	color: #bababa;
}


