/** @format */

header {
	@include flex(flex, row, space-between);
	padding: 15px;
}

.icon {
	font-weight: 600;
}

.icon {
	img {
		height: 50px;
		margin-right: 10px;
	}
}

.navbar-nav {
	font-size: map-get($map: $font-sizes, $key: xxs);
}

.nav-link {
	margin-left: 20px;
	font-weight: 500;
	color: black;
}

nav a:hover {
	color: #bababa;
}

@media (min-width: 320px) and (max-width: 350px){
	header {
		flex-direction: column;
		align-items: center;
		padding-bottom: 10px;
	}
}

@media (min-width: 350px) and (max-width: 728px) {
	header {
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
	}
}
