/** @format */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.icon {
	font-weight: 600;
}

.icon {
	img {
		height: 50px;
		margin-right: 10px;
	}
}

.navbar-nav {
	font-size: map-get($map: $font-sizes, $key: xs);
}

.nav-link {
	margin-left: 20px;
	color: black;
}

nav a:hover {
	color: #bababa;
}
