/**
 * Home
 *
 * @format
 */

main {
	@include flex(flex, row, space-evenly);
	.section-1 {
		@include flex(flex, column, center);
		margin-left: 10px;

		h1 {
			font-weight: 600;
			font-size: 50px;
		}
	}
	.box-main-img {
		img {
			@include medidas(700px, 600px);
			margin: 20px;
		}
	}

	p {
		font-weight: 500;
	}
}
