/**
 * Home
 *
 * @format
 */

main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.section-1 {
	@include flex(flex, column, center);
	margin-left: 10px;
}

.box-main-img {
	img {
		@include medidas(700px, 600px);
		margin: 20px;
	}
}

.parrafo-main-home {
	font-weight: 500;
}

.h1-1 {
	font-weight: 600;
	font-size: 50px;
}
