/* Home */

main{
	
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section-1{
   display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

/* .box-main-home {

   
    
}
 */
 .box-main-img{
    img{
        width: 700px;
        height: 600px;
        margin: 20px;
    }
 }

.parrafo-main-home {
	font-weight: 500;
}

.h1-1 {
	font-weight: 600;
	font-size: 50px;
}
