/** @format */

.main-servicios {
	text-align: center;
	flex-wrap: wrap;
	.box-servicios {
		img {
			@include medidas(1000px, 500px);
			mask-image: linear-gradient(black 80%, transparent);
			margin: 40px;
		}
		h1 {
			font-size: 100px;
			color: rgb(17, 16, 16);
			margin-bottom: 10px;
		}

		#box-paginas {
			@include flex(flex, row, space-evenly);
			padding: 20px;
			gap: 30px;
			flex-wrap: wrap;
			.mini-box1 {
				@include flex(flex, column, center);
				@include medidas(400px, 400px);
				background-color: $color-background-minibox;
				border-radius: 4px;
				box-shadow: 7px 13px 37px #232222;

				a {
					margin: 5px;
				}

				p {
					text-align: justify;
					font-size: map-get($map: $font-sizes, $key: xs);
					padding: 10px;
				}
				img {
					@include medidas(250px, 250px);
					margin: auto;
					mask-image: none;
					object-fit: contain;
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 350px) {
	.main-servicios {
		.box-servicios {
			h1 {
				font-size: map-get($map: $font-sizes, $key: l);
			}
			img {
				@include medidas(300px, 300px);
				margin: 5px;
			}

			p {
				font-size: 13px;
				margin-top: 5px;
			}

			#box-paginas {
				padding: 10px;
				.mini-box1 {
					@include medidas(390px, 400px);
					p {
						font-size: 17px;
						padding: 10px;
					}
					img {
						@include medidas(250px, 250px);
					}
				}
			}
		}
	}
}

@media (min-width: 350px) and (max-width: 728px) {
	.main-servicios {
		margin: 0px;
		.box-servicios {
			h1 {
				font-size: map-get($map: $font-sizes, $key: l);
			}
			img {
				@include medidas(320px, 300px);
				margin: 20px;
			}

			p {
				font-size: 13px;
				margin: 3px;
			}

			#box-paginas {
				padding: 10px;
				.mini-box1 {
					@include medidas(390px, 400px);
					p {
						font-size: map-get($map: $font-sizes, $key: xs);
						padding: 10px;
					}
					img {
						@include medidas(300px, 300px);
					}
				}
			}
		}
	}
}

@media (min-width: 729px) and (max-width: 1024px) {
	.main-servicios {
		.box-servicios {
			img {
				@include medidas(750px, 500px);
				margin: 20px;
			}
		}
	}
}
