/** @format */

.main-servicios {
	text-align: center;
	div {
		h1 {
			font-size: map-get($map: $font-sizes, $key: xl);
			color: black;
		}
		margin: 20px;
	}
}

.parrafo-main-inicio {
	text-align: justify;
	padding: 2.5rem;
	font-weight: 600;
}
