/** @format */

.main-sn {
	#box-main-sn {
		margin: 50px;
		text-align: center;
		h1 {
			font-size: 90px;
		}
	}

	#card-container {
		@include flex(flex, row, space-around);
		margin: 32px 0px;
		flex-wrap: wrap;
		gap: 1rem;

		.card {
			padding: 16px;
			border-radius: 5px;
			@include medidas(500px, 600px);
			box-shadow: 7px 13px 37px #000;
			background-color: $color-background-card;
			text-align: center;
			h2 {
				font-size: map-get($map: $font-sizes, $key: l);
				font-weight: bold;
				text-align: center;
			}

			p {
				font-size: map-get($map: $font-sizes, $key: xs);
			}
		}
	}
	#redes {
		margin: 40px 0px 30px 0;
		h2 {
			font-size: 90px;
			font-weight: bold;
			text-align: center;
		}
		article {
			@include flex(flex, column, center);
			align-items: center;
			text-align: justify;
			flex-wrap: wrap;

			.redes1 {
				@include flex(flex, row, center);
				margin: 10px;
				flex-wrap: wrap;
				.mini-redes {
					@include flex(flex, column, center);
					margin: 30px;
					gap: 10px;
					img {
						@include medidas(250px, 250px);
					}
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 350px) {
	.main-sn {
		#box-main-sn {
			text-align: center;
			margin: auto;
			h1 {
				font-size: map-get($map: $font-sizes, $key: l);
			}
		}

		#card-container {
			.card {
				padding: 5px;
				@include medidas(300px, 440px);
				@include flex(flex, column, center);
				text-align: center;
				h2 {
					font-size: map-get($map: $font-sizes, $key: xs);
				}
				p {
					font-size: 14px;
				}
			}
		}
		#redes {
			margin: 10px;
			h2 {
				font-size: map-get($map: $font-sizes, $key: l);
			}

			article {
				.redes1 {
					display: flex;
					.mini-redes {
						margin: 10px;
						img {
							@include medidas(150px, 150px);
						}
					}
				}

				h3 {
					padding: 5px;
					text-align: center;
					font-size: map-get($map: $font-sizes, $key: xxs);
				}
			}
		}
	}
}

@media (min-width: 350px) and (max-width: 728px) {
	.main-sn {
		@include flex(flex, column, center);
		#box-main-sn {
			text-align: center;
			margin: auto;
			h1 {
				font-size: map-get($map: $font-sizes, $key: l);
				text-align: center;
			}
		}

		#card-container {
			.card {
				padding: 5px;
				@include medidas(300px, 490px);
				@include flex(flex, column, center);
				text-align: center;
				h2 {
					font-size: map-get($map: $font-sizes, $key: m);
				}
				p {
					font-size: map-get($map: $font-sizes, $key: xxs);
				}
			}
		}
		#redes {
			margin: 10px;
			h2 {
				font-size: map-get($map: $font-sizes, $key: l);
			}

			article {
				.redes1 {
					display: flex;
					.mini-redes {
						margin: 10px;
						img {
							@include medidas(150px, 150px);
						}
					}
				}

				h3 {
					padding: 5px;
					text-align: center;
					font-size: map-get($map: $font-sizes, $key: xs);
				}
			}
		}
	}
}
