/** @format */

.main-tips {
	text-align: center;

	.box-main-tips {
		@include flex(flex, column, center);
		margin: 30px 30px 30px 30px;
		h1 {
			font-size: 90px;
			font-weight: bold;
		}

		h2 {
			font-size: map-get($map: $font-sizes, $key: xl);
			font-weight: 600;
		}

		h3 {
			font-size: 25px;
			margin: 10px 10px 10px 10px;
			font-weight: 500;
		}
	}

	.box-main-tips-list {
		margin: 30px;
		flex-wrap: wrap;
		text-align: justify;
		ol {
			@include flex(flex, column, center);
			align-items: center;
            
			li {
				font-size: map-get($map: $font-sizes, $key: m);
			}
			img {
				margin: 30px;
				@include medidas(800px, 500px);
			}
		}
	}
}

@media (min-width: 350px) and (max-width: 728px) {
	.main-tips {
		.box-main-tips {
			margin: 20px;
			h1 {
				font-size: 65px;
			}
			h2 {
				font-size: map-get($map: $font-sizes, $key: l);
			}
		}
		.box-main-tips-list {
			text-align: center;
			ol {
				img {
					@include medidas(350px, 300px);
				}
			}
		}
	}
}
