/** @format */
/* BASE */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Utilities */
/** @format */
/** @format */
/** @format */
/*  */
/* Components */
/**
 * Home
 *
 * @format
 */
.main-index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-index .section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.main-index .section-1 h1 {
  font-weight: 600;
  font-size: 50px;
}
.main-index .section-1 p {
  font-weight: 500;
}
.main-index .box-main-img img {
  width: 700px;
  height: 600px;
  display: block;
  margin: 0 20px;
}

@media (min-width: 350px) and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  body .main-index {
    flex-wrap: wrap;
    text-align: center;
  }
  body .main-index .section-1 h1 {
    font-weight: 600;
    font-size: 30px;
  }
  body .main-index .section-1 p {
    font-size: 20px;
    font-weight: 500;
  }
  body .main-index .box-main-img {
    text-align: center;
  }
  body .main-index .box-main-img img {
    width: 350px;
    height: 300px;
    margin: 30px 10px 30px 10px;
  }
  body footer {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  body footer .div-footer-1 {
    text-align: center;
  }
  body footer .div-footer-2 {
    text-align: center;
  }
}
/* @media (min-width: 350px) and (max-width: 728px) */
/** @format */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.icon {
  font-weight: 600;
}

.icon img {
  height: 50px;
  margin-right: 10px;
}

.navbar-nav {
  font-size: 15px;
}

.nav-link {
  margin-left: 20px;
  font-weight: 500;
  color: black;
}

nav a:hover {
  color: #bababa;
}

/** @format */
footer {
  background-color: #ced8d8;
  margin: 10px 10px 10px 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  font-size: 30px;
  color: #887c7c;
}
footer .div-footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .div-footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .div-footer-2 .mini-div1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 24px;
}
footer .div-footer-2 .mini-div1 p {
  font-weight: 500;
}
footer .div-footer-2 .mini-div2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}
footer .div-footer-2 .mini-div2 p {
  font-weight: 500;
}
footer p {
  font-size: 15px;
  font-weight: 400;
}

/** @format */
body {
  background-image: linear-gradient(to right, #ef9c56, #cfcdc7);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", serif;
}

/** @format */
.main-servicios {
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
}
.main-servicios .box-servicios img {
  width: 1000px;
  height: 500px;
  mask-image: linear-gradient(black 80%, transparent);
  /* object-fit: cover; */
  margin: 40px;
}
.main-servicios .box-servicios h1 {
  font-size: 100px;
  color: rgb(17, 16, 16);
  margin-bottom: 10px;
}
.main-servicios .box-servicios #box-paginas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  gap: 30px;
}
.main-servicios .box-servicios #box-paginas .mini-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: #efd3af;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #232222;
}
.main-servicios .box-servicios #box-paginas .mini-box1 a {
  margin: 5px;
}
.main-servicios .box-servicios #box-paginas .mini-box1 p {
  text-align: justify;
  font-size: 20px;
  padding: 10px;
}
.main-servicios .box-servicios #box-paginas .mini-box1 img {
  width: 300px;
  height: 300px;
  margin: auto;
  mask-image: none;
  object-fit: contain;
}
.main-servicios p {
  font-size: 20px;
  color: #191919;
}

.parrafo-main-inicio {
  text-align: justify;
  padding: 2.5rem;
  font-weight: 600;
}

/* Inicio */
/* Contactanos */
.main-contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.box-main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.h1-contact {
  font-size: 60px;
  font-weight: bold;
}

.h2-contact {
  text-align: center;
  font-size: 17px;
}

.form-message {
  width: 400px;
  height: 700px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
  color: black;
  box-shadow: 7px 13px 37px #000;
}

.controls {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  color: black;
}

.buttons {
  width: 100%;
  background: #fdf5e6;
  border: none;
  padding: 8px;
  font-size: 17px;
}

.parrafo-main-contact {
  text-align: justify;
  padding: 1rem;
  font-weight: 600;
}

/* Sobre Nosotros */
.card-container {
  margin: 32px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.card {
  padding: 16px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 7px 13px 37px #000;
}

.card-redes {
  padding: 16px;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 7px 13px 37px #000;
}

.card h4 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.card-redes h4 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#redes {
  margin: 10px;
  align-items: center;
}

.card-button-facebook {
  width: 100px;
  color: #6495ed;
  padding: 2px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  display: inline-block;
}

.card-button-instagram {
  width: 100px;
  color: #ff4500;
  padding: 2px;
  border: 1px solid #ff4500;
  border-radius: 5px;
  display: inline-block;
}

.card-button-tiktok {
  width: 100px;
  color: #00ffff;
  padding: 2px;
  border: 1px solid #00ffff;
  border-radius: 5px;
  display: inline-block;
}

.logo-facebook {
  width: 40px;
  height: 40px;
}

.logo-instagram {
  width: 50px;
  height: 50px;
}

.logo-tiktok {
  width: 50px;
  height: 50px;
}

.logo-WhatsApp {
  width: 62px;
  height: 62px;
}

/* Tips y Consejos */
.main-tips {
  align-items: center;
  height: calc(100vh - 100px);
}

.box-main-tips {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h2-tips {
  font-size: 30px;
}

.h3-tips {
  font-size: 25px;
  margin: 10px 10px 10px 10px;
  font-weight: 500;
}

.box-main-tips-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 30px 10px 30px;
  text-align: justify;
}

#li-tips {
  text-align: justify;
}

.parrafo-main-tips {
  color: #000;
  text-align: center;
  font-weight: 500;
}

.a-li {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a:hover {
  color: #bababa;
}

/*# sourceMappingURL=style.css.map */
