/** @format */
/* BASE */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Utilities */
/** @format */
/** @format */
/** @format */
/* Components */
/**
 * Home
 *
 * @format
 */
.main-index {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-index .section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.main-index .section-1 h1 {
  font-weight: 600;
  font-size: 50px;
}
.main-index .section-1 p {
  font-weight: 500;
}
.main-index .box-main-img img {
  width: 700px;
  height: 600px;
  display: block;
  margin: 0 20px;
}

@media (min-width: 350px) and (max-width: 728px) {
  .main-index {
    flex-wrap: wrap;
    text-align: center;
  }
  .main-index .section-1 .box-main-h1 h1 {
    font-weight: 600;
    font-size: 30px;
  }
  .main-index .section-1 .box-main-h1 p {
    font-size: 20px;
    font-weight: 500;
  }
  .main-index .box-main-img {
    text-align: center;
  }
  .main-index .box-main-img img {
    width: 350px;
    height: 300px;
    margin: 30px 10px 30px 10px;
  }
}
@media (min-width: 729px) and (max-width: 1024px) {
  .main-index .section-1 .box-main-img {
    text-align: center;
  }
  .main-index .section-1 .box-main-img img {
    width: 500px;
    height: 500px;
    margin: 30px 10px 30px 10px;
  }
}
/** @format */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.icon {
  font-weight: 600;
}

.icon img {
  height: 50px;
  margin-right: 10px;
}

.navbar-nav {
  font-size: 15px;
}

.nav-link {
  margin-left: 20px;
  font-weight: 500;
  color: black;
}

nav a:hover {
  color: #bababa;
}

@media (min-width: 350px) and (max-width: 728px) {
  header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
}
/** @format */
footer {
  background-color: #ced8d8;
  margin: 10px 10px 10px 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  font-size: 30px;
  color: #887c7c;
}
footer .div-footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .div-footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .div-footer-2 .mini-div1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 24px;
}
footer .div-footer-2 .mini-div1 p {
  font-weight: 500;
}
footer .div-footer-2 .mini-div2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}
footer .div-footer-2 .mini-div2 p {
  font-weight: 500;
}
footer p {
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 350px) and (max-width: 728px) {
  footer {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  footer .div-footer-1 {
    text-align: center;
  }
  footer .div-footer-2 {
    text-align: center;
  }
}
@media (min-width: 729px) and (max-width: 1024px) {
  footer {
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .div-footer-1 {
    text-align: center;
  }
  footer .div-footer-2 {
    text-align: center;
  }
}
/** @format */
body {
  background-image: linear-gradient(to right, #ef9c56, #cfcdc7);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", serif;
  overflow-x: hidden;
}

@media (min-width: 350px) and (max-width: 728px) {
  body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/** @format */
.main-servicios {
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
}
.main-servicios .box-servicios img {
  width: 1000px;
  height: 500px;
  mask-image: linear-gradient(black 80%, transparent);
  margin: 40px;
}
.main-servicios .box-servicios h1 {
  font-size: 100px;
  color: rgb(17, 16, 16);
  margin-bottom: 10px;
}
.main-servicios .box-servicios #box-paginas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  gap: 30px;
  flex-wrap: wrap;
}
.main-servicios .box-servicios #box-paginas .mini-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: #F0DFCC;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #232222;
}
.main-servicios .box-servicios #box-paginas .mini-box1 a {
  margin: 5px;
}
.main-servicios .box-servicios #box-paginas .mini-box1 p {
  text-align: justify;
  font-size: 20px;
  padding: 10px;
}
.main-servicios .box-servicios #box-paginas .mini-box1 img {
  width: 250px;
  height: 250px;
  margin: auto;
  mask-image: none;
  object-fit: contain;
}
.main-servicios p {
  font-size: 20px;
  color: #191919;
}

@media (min-width: 350px) and (max-width: 728px) {
  .main-servicios {
    margin: 0px;
  }
  .main-servicios .box-servicios h1 {
    font-size: 50px;
  }
  .main-servicios .box-servicios img {
    width: 350px;
    height: 300px;
    margin: 20px;
  }
  .main-servicios .box-servicios p {
    font-size: 15px;
    margin: 3px;
  }
}
@media (min-width: 729px) and (max-width: 1024px) {
  .main-servicios .box-servicios img {
    width: 750px;
    height: 500px;
    margin: 20px;
  }
}
/** @format */
.main-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.main-contact .box-main-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 700px;
  text-align: justify;
}
.main-contact .box-main-contact h1 {
  font-size: 60px;
  font-weight: bold;
}
.main-contact .box-main-contact h2 {
  font-size: 17px;
}
.main-contact .box-main-contact img {
  width: 300px;
  height: 300px;
}
.main-contact .form-message {
  text-align: justify;
  padding: 20px;
  background-color: #cb9466;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
  color: black;
  box-shadow: 7px 13px 37px #000;
}

@media (min-width: 350px) and (max-width: 728px) {
  .main-contact .box-main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 500px;
    text-align: center;
    align-items: center;
  }
  .main-contact .box-main-contact h1 {
    font-size: 50px;
  }
  .main-contact .box-main-contact h2 {
    font-size: 15px;
  }
}
@media (min-width: 729px) and (max-width: 1024px) {
  .main-contact .box-main-contact {
    text-align: center;
  }
  .main-contact .box-main-contact img {
    width: 400px;
    height: 500px;
  }
}
/** @format */
.main-sn #box-main-sn {
  margin: 50px;
  text-align: center;
}
.main-sn #box-main-sn h1 {
  font-size: 90px;
}
.main-sn #card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 32px 0px;
  flex-wrap: wrap;
  gap: 1rem;
}
.main-sn #card-container .card {
  padding: 16px;
  border-radius: 5px;
  width: 500px;
  height: 600px;
  box-shadow: 7px 13px 37px #000;
  background-color: #FFEFD5;
  text-align: center;
}
.main-sn #card-container .card h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.main-sn #card-container .card p {
  font-size: 20px;
}
.main-sn #redes {
  margin: 40px 0px 30px 0;
}
.main-sn #redes h1 {
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}
.main-sn #redes article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
}
.main-sn #redes article .redes1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}
.main-sn #redes article .redes1 .mini-redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  gap: 10px;
}
.main-sn #redes article .redes1 .mini-redes img {
  width: 250px;
  height: 250px;
}

@media (min-width: 350px) and (max-width: 728px) {
  .main-sn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-sn #box-main-sn {
    text-align: center;
    margin: auto;
  }
  .main-sn #box-main-sn h1 {
    font-size: 60px;
    text-align: center;
  }
  .main-sn #card-container .card {
    padding: 5px;
    width: 400px;
    height: 570px;
    text-align: center;
  }
  .main-sn #card-container .card h2 {
    font-size: 30px;
  }
  .main-sn #card-container .card p {
    font-size: 19px;
  }
  .main-sn #redes {
    margin: 10px;
  }
  .main-sn #redes h1 {
    font-size: 60px;
  }
  .main-sn #redes article .redes1 {
    display: flex;
  }
  .main-sn #redes article .redes1 .mini-redes {
    margin: 10px;
  }
  .main-sn #redes article .redes1 .mini-redes img {
    width: 200px;
    height: 200px;
  }
}
/** @format */
.main-tips {
  text-align: center;
}
.main-tips .box-main-tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 30px 30px 30px;
}
.main-tips .box-main-tips h1 {
  font-size: 90px;
  font-weight: bold;
}
.main-tips .box-main-tips h2 {
  font-size: 50px;
  font-weight: 600;
}
.main-tips .box-main-tips h3 {
  font-size: 25px;
  margin: 10px 10px 10px 10px;
  font-weight: 500;
}
.main-tips .box-main-tips-list {
  margin: 30px;
  flex-wrap: wrap;
  text-align: justify;
}
.main-tips .box-main-tips-list ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-tips .box-main-tips-list ol li {
  font-size: 30px;
}
.main-tips .box-main-tips-list ol img {
  margin: 30px;
  width: 800px;
  height: 500px;
}

@media (min-width: 350px) and (max-width: 728px) {
  .main-tips .box-main-tips {
    margin: 20px;
  }
  .main-tips .box-main-tips h1 {
    font-size: 65px;
  }
  .main-tips .box-main-tips h2 {
    font-size: 40px;
  }
  .main-tips .box-main-tips-list {
    text-align: center;
  }
  .main-tips .box-main-tips-list ol img {
    width: 350px;
    height: 300px;
  }
}
@media (min-width: 729px) and (max-width: 1024px) {
  .main-tips .box-main-tips-list ol img {
    width: 650px;
    height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
